# Ignore Laravel-specific files
/vendor/
/storage/app/public/uploads
/public/storage/uploads/
/public/storage/app
/storage/logs/laravel.log

# Ignore IDE files
/.idea/
/.vscode/

# Ignore operating system files
.DS_Store
Thumbs.db

# Ignore other files
.env
.phpstorm.meta.php
